@import "./_variables.scss";

@media (max-width: 767px){

  .container{
    padding-left: 10px;
    padding-right: 10px;
  }

  .recent-posts__information .recent-posts__item{
    grid-template-columns: repeat(1, 1fr);
  }
  .recent-posts__item__list{
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .recent-posts__item__description p:last-child{
    display: $display-none;
  }
  .burger{
    display: block;
    margin-left: auto;
  }

  .top-menu__list{
    overflow: hidden;
    max-height: 0;
    position: absolute;
    right: 10px;
  }

  .top-menu__list.opened {
    overflow: initial;
    max-height: initial;
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: column;
    width: 183px;
    background: #E5E5E5;
  }

  .top-menu__item{
    width: 100%;
  }

  .top-menu__item:hover{
    background: #b8b3b3;
  }

  .instagram-shots__image li{
    display: $display-none;
    width: 100%;


  }
  .instagram-shots__image li:first-child{
    display: block;

  }

  .instagram-shots__tittle-left{
    display: $display-none;
  }

  .copyright p{
    text-align: center;
  }

  .copyright__contacts{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}


@media (min-width: 768px) and (max-width: 1191px){
  .container{
    padding-left: 10px;
    padding-right: 10px;
  }

  .recent-posts__item{
    grid-template-columns: repeat(1, 1fr);
    max-width: 560px;
  }

  .instagram-shots__image li:last-child{
    display: $display-none;
  }
  .top-menu__list{
    overflow: hidden;
  }

}


