
@import "./_variables.scss";

.recent-posts__information {
  padding: 70px 0;
}
  .recent-posts__tittle{
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    color: $text-color;
  }
  .recent-posts__item {
    max-width: 1170px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap: 30px;
    grid-column-gap: 55px;
    &__list{
      list-style-type: none;
      display: flex;
      & img{
        max-height: 160px;
        max-width: 100%;
        margin-right: 20px;
      }
    }
    &__description h2{
      font-weight: 700;
      font-size: 16px;
      line-height: 30px;
      color: $text-color;
      width: 100%;
    }
    .recent-posts__item__description p{
      font-weight: 400;
      font-size: 12px;
      line-height: 20px;
      color: #7C7C7C;
      width: 100%;
    }
    &__description p{
      font-weight: 400;
      font-size: 12px;
      line-height: 20px;
      color: #7C7C7C;
      width: 100%;
      &:last-child{
        font-weight: 400;
        font-size: 14px;
        line-height: 26px;
        color: #5C5C5C;
        width: 100%;
      }
    }
  }










